{{ form_start(form) }}
    {{ form_row(form._token) }}
        
    <div class="form-group">
        {{ form_label(form.title, 'block_title') }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        <small id="block_title" class="form-text text-muted">
            {{ form_help(form.title) }}
        </small>
        <div class="form-error">
            {{ form_errors(form.title) }}
        </div>
    </div>
    
    <div class="form-group">
        {{ form_label(form.content, 'block_content') }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        <small id="block_content" class="form-text text-muted">
            {{ form_help(form.content) }}
        </small>
        <div class="form-error">
            {{ form_errors(form.content) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {{ form_label(form.sort, 'block_sort') }}
                {{ form_widget(form.sort, {'attr': {'class': 'form-control'}}) }}
                <small id="block_sort" class="form-text text-muted">
                    {{ form_help(form.sort) }}
                </small>
                <div class="form-error">
                    {{ form_errors(form.sort) }}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                {{ form_label(form.template, 'block_template') }}
                {{ form_widget(form.template, {'attr': {'class': 'form-control'}}) }}
                <small id="block_template" class="form-text text-muted">
                    {{ form_help(form.template) }}
                </small>
                <div class="form-error">
                    {{ form_errors(form.template) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-success">{{ button_label|default('btn_save')|trans }}</button>
        </div>
        <div class="col-6 text-md-right">
            <a class="btn btn-outline-info" href="{{ path('page_index') }}">
                {% trans %} btn_back_to_list {% endtrans %}
            </a>
        </div>
    </div>

{{ form_end(form) }}

<div class="row">
    <div class="col-12 mt-1 text-md-right">
        {% if delete_show|default(false) %}
               {{ include('block/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>
